.footer-container html {
  position: relative;
  min-height: 100%; }
.footer-container body {
  margin-bottom: 60px; }
  .footer-container body .container {
    padding: 60px 15px 0; }
.footer-container code {
  font-size: 80%; }
.footer-container .footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #f5f5f5; }
  .footer-container .footer .container {
    padding-right: 15px;
    padding-left: 15px; }
    .footer-container .footer .container .text-muted {
      margin: 20px 0; }
