#home-container {
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",serif;
  font-weight: bold; }
  @media only screen and (max-width: 720px) {
    #home-container #checkin table, #home-container #checkin thead, #home-container #checkin tbody, #home-container #checkin th, #home-container #checkin td, #home-container #checkin tr {
      display: block; }
    #home-container #checkin thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px; }
    #home-container #checkin tr {
      border: 1px solid #ccc; }
    #home-container #checkin td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      white-space: normal;
      text-align: center; }
    #home-container #checkin td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: bold; }
    #home-container #checkin {
      display: table; }
    #home-container #checkin2 {
      display: none; } }
  @media only screen and (max-width: 960px) and (min-width: 721px) {
    #home-container #checkin {
      display: none; }
    #home-container #checkin2 {
      display: table; } }
  @media only screen and (min-width: 961px) {
    #home-container #checkin {
      display: table; }
    #home-container #checkin2 {
      display: none; } }
  #home-container h3 {
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",serif;
    font-weight: bold; }
  #home-container .label {
    font-size: 12px;
    padding-bottom: 1px; }
  #home-container .panel .panel-heading img {
    height: 20px;
    width: 20px;
    position: relative;
    top: -2px;
    border-radius: 50%; }
  #home-container .panel .panel-heading .panel-title #collapseBtn {
    float: right;
    margin-top: 3px; }
  #home-container .panel .panel-heading .panel-title a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    text-decoration: none; }
    #home-container .panel .panel-heading .panel-title a i {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      cursor: pointer; }
    #home-container .panel .panel-heading .panel-title a.collapsed i {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      cursor: pointer; }
  #home-container .panel-primary {
    border-color: #C2F8FF; }
    #home-container .panel-primary .panel-heading {
      background-color: #f0f8ff;
      border-color: #C2F8FF;
      color: #6495ED; }
    #home-container .panel-primary .panel-body ul {
      padding: -10px 0px 0px 0px;
      margin: 0px 0px 0px 0px; }
      #home-container .panel-primary .panel-body ul .list-group-item {
        padding: 3px 10px; }
      #home-container .panel-primary .panel-body ul .active {
        padding: 5px 10px; }
  #home-container #special1 {
    border-color: #FFA1B2; }
    #home-container #special1 .panel-heading {
      background-color: #FFCED8;
      border-color: #FFA1B2;
      color: #FF5573;
      text-align: center; }
    #home-container #special1 .panel-body .row {
      align-content: center;
      align-items: center;
      align-self: center; }
      #home-container #special1 .panel-body .row img {
        height: 100px;
        width: 100px;
        position: relative;
        border-radius: 50%;
        top: 10px; }
      #home-container #special1 .panel-body .row .caption h3 {
        text-align: center; }
  #home-container #special2 {
    border-color: #C8DFFF; }
    #home-container #special2 .panel-heading {
      background-color: #E3EDFF;
      border-color: #C8DFFF;
      color: #68BDFF;
      text-align: center; }
    #home-container #special2 .panel-body .row img {
      height: 100px;
      width: 100px;
      position: relative;
      border-radius: 50%;
      top: 10px; }
    #home-container #special2 .panel-body .row .caption h3 {
      text-align: center; }

/*# sourceMappingURL=home.css.map */
