.footer {
  background-color: rgba(220, 220, 220, 0.6);
  display: flex;
  align-items: center;
  padding: 0px;
  border-bottom: solid whitesmoke;
  width: 100%;
  z-index: 1000;
  height: 100px;
  position: fixed;
  bottom: 0;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; }
  .footer > p {
    margin: auto auto auto 80px;
    padding: auto;
    font-size: 24px; }

.footer.small {
  height: 40px; }
  .footer.small > p {
    font-size: 18px; }

@media only screen and (max-width: 768px) {
  #gamedataheader-container .deactivate {
    display: none; } }
#gamedataheader-container img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  top: -2.5px;
  position: relative; }

@keyframes button_hover {
  70% {
    box-shadow: inset 0 -60px 60px -25px white; } }
.header {
  background-color: rgba(220, 220, 220, 0.6);
  display: flex;
  align-items: center;
  padding: 0px;
  border-bottom: solid whitesmoke;
  width: 100%;
  position: fixed;
  z-index: 1000;
  height: 120px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; }
  .header > p {
    margin: 0px 100px 0px 50px;
    padding: auto;
    font-size: 24px;
    opacity: 0.5; }
    .header > p img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      top: -2.5px;
      position: relative; }
  .header button {
    color: rgba(255, 100, 0, 0.6);
    background-color: rgba(245, 245, 245, 0);
    height: 120px;
    width: 170px;
    font-size: 18px;
    border: none;
    outline: none;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s; }
    .header button > span {
      pointer-events: none; }
  .header button:hover:not(.active):not(.collapseBtn) {
    animation: button_hover 1s;
    animation-iteration-count: infinite; }
  .header button.active {
    color: #ff6400;
    background-image: linear-gradient(rgba(255, 255, 255, 0), white); }
  .header .collapseBtn {
    color: rgba(255, 100, 0, 0.6);
    background-color: rgba(130, 130, 130, 0.4);
    position: absolute;
    border: none;
    outline: none;
    right: 10%;
    width: 50px;
    height: 50px;
    top: 35px;
    cursor: default;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .header .collapseBtn .bar1, .header .collapseBtn .bar2, .header .collapseBtn .bar3 {
      width: 36px;
      height: 6px;
      background-color: rgba(100, 100, 100, 0.7);
      margin: 7px 0;
      transition: 0.4s;
      border-radius: 25%;
      pointer-events: none; }
  .header .change .bar1 {
    transform: rotate(45deg) translate(10px, 9px); }
  .header .change .bar2 {
    opacity: 0; }
  .header .change .bar3 {
    transform: rotate(-45deg) translate(9px, -8px); }

.header.small {
  height: 50px; }
  .header.small > div button {
    height: 50px; }
    .header.small > div button > span {
      display: none; }
  .header.small > p {
    margin-right: 140px;
    font-size: 18px; }
    .header.small > p img {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      top: -2.5px;
      position: relative; }
  .header.small .collapseBtn {
    top: 0;
    border-bottom: solid;
    border-bottom-color: white; }

.background {
  background-image: url("/app/icons/main_background.jpg");
  height: 100vh;
  width: 100%;
  z-index: -10;
  background-repeat: no-repeat;
  background-size: 1600px 100%;
  background-position: top center;
  position: fixed; }

.jumbo {
  padding-top: 120px;
  height: 420px;
  width: 100%;
  font-size: 50px; }

@media only screen and (max-width: 730px) {
  .header > div {
    position: fixed;
    left: 0;
    top: 120px;
    width: 100%;
    height: 250px;
    transition-property: all;
    transition-duration: 0.3s;
    overflow-y: hidden; }
    .header > div button:not(.collapseBtn) {
      width: 100%;
      height: 80px;
      background-image: none;
      background-color: rgba(245, 245, 245, 0.6);
      border-style: inset;
      border-color: rgba(100, 100, 100, 0.2);
      border-width: thin; }
    .header > div button:hover:not(.active):not(.collapseBtn) {
      animation: none; }
    .header > div button.active {
      background-color: rgba(245, 245, 245, 0.9); }
  .header > div.collapsed {
    height: 0px;
    transition-property: all;
    transition-duration: 0.3s; }

  .header.small > div {
    top: 45px;
    height: 130px;
    transition-property: all;
    transition-duration: 0.3s;
    overflow-y: hidden; }
    .header.small > div button:not(.collapseBtn) {
      height: 40px; }
      .header.small > div button:not(.collapseBtn) span {
        display: none; }
  .header.small > div.collapsed {
    height: 0px;
    transition-property: all;
    transition-duration: 0.3s; } }
@media only screen and (min-width: 731px) {
  .header .collapseBtn {
    display: none; } }
@media only screen and (max-width: 830px) {
  .header > p > span {
    display: none; }
  .header > p > img {
    height: 45px;
    width: 45px; } }
#home-container {
  width: 98%;
  margin-bottom: 110px;
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",serif;
  font-weight: bold;
  z-index: 1; }
  @media only screen and (max-width: 480px) {
    #home-container #checkin table, #home-container #checkin thead, #home-container #checkin tbody, #home-container #checkin th, #home-container #checkin td, #home-container #checkin tr {
      display: block; }
    #home-container #checkin thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px; }
    #home-container #checkin tr {
      border: 1px solid #ccc; }
    #home-container #checkin td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      white-space: normal;
      text-align: center; }
    #home-container #checkin td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: bold; }
    #home-container #checkin {
      display: table; }
    #home-container #checkin2 {
      display: none; }
    #home-container #checkin3 {
      display: none; } }
  @media only screen and (max-width: 720px) and (min-width: 481px) {
    #home-container #checkin {
      display: none; }
    #home-container #checkin2 {
      display: none; }
    #home-container #checkin3 {
      display: table; } }
  @media only screen and (max-width: 960px) and (min-width: 721px) {
    #home-container #checkin {
      display: none; }
    #home-container #checkin2 {
      display: table; }
    #home-container #checkin3 {
      display: none; }
    #home-container .testpic {
      /*change to bootstrap breakpoint media query later*/
      display: none !important; } }
  @media only screen and (min-width: 961px) {
    #home-container #checkin {
      display: table; }
    #home-container #checkin2 {
      display: none; }
    #home-container #checkin3 {
      display: none; } }
  #home-container .padding-0 {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px; }
  #home-container .padding-1 {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px; }
  #home-container .label {
    font-size: 12px;
    padding-bottom: 1px; }
  #home-container .panel .panel-heading img {
    height: 20px;
    width: 20px;
    position: relative;
    top: -2px;
    border-radius: 50%; }
  #home-container .panel .panel-heading .panel-title #collapseBtn {
    float: right;
    margin-top: 3px; }
  #home-container .panel .panel-heading .panel-title a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    text-decoration: none; }
    #home-container .panel .panel-heading .panel-title a i {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      cursor: pointer; }
    #home-container .panel .panel-heading .panel-title a.collapsed i {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      cursor: pointer; }
  #home-container .panel .panel-body p {
    padding-left: 2em;
    text-indent: -0.5em;
    margin-top: 0px;
    margin-bottom: 0px; }
  #home-container .panel .panel-body .textDiv {
    padding: auto;
    padding-right: 0px; }
  #home-container .panel .panel-body .thumbnail img {
    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 50%;
    top: 10px; }
  #home-container .panel .panel-body .thumbnail .caption h3 {
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",serif;
    font-weight: bold;
    text-align: center; }
  #home-container .panel .panel-body .thumbnail .caption h4 {
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",serif;
    font-weight: bold;
    text-align: center; }
  #home-container #special1 {
    border-color: #FFA1B2; }
    #home-container #special1 .panel-heading {
      background-color: #FFCED8;
      border-color: #FFA1B2;
      color: #FF5573;
      text-align: center; }
  #home-container #special2 {
    border-color: #C8DFFF; }
    #home-container #special2 .panel-heading {
      background-color: #E3EDFF;
      border-color: #C8DFFF;
      color: #68BDFF;
      text-align: center; }

#battle-container {
  margin: auto 10px auto 10px; }
  #battle-container .panel .panel-heading img {
    height: 20px;
    width: 20px;
    position: relative;
    top: -1;
    border-radius: 50%; }

#character-container {
  margin: auto 10px auto 10px; }
  #character-container .panel .panel-heading img {
    height: 20px;
    width: 20px;
    position: relative;
    top: -1;
    border-radius: 50%; }

#inventory-container {
  margin: auto 10px auto 10px; }
  #inventory-container .panel .panel-heading img {
    height: 20px;
    width: 20px;
    position: relative;
    top: -1;
    border-radius: 50%; }

#pet-container {
  margin: auto 10px auto 10px; }
  #pet-container .panel .panel-heading img {
    height: 20px;
    width: 20px;
    position: relative;
    top: -1;
    border-radius: 50%; }
