.footer {
  background-color: rgba(220, 220, 220, 0.6);
  display: flex;
  align-items: center;
  padding: 0px;
  border-bottom: solid whitesmoke;
  width: 100%;
  z-index: 1000;
  height: 100px;
  position: fixed;
  bottom: 0;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; }
  .footer > p {
    margin: auto auto auto 80px;
    padding: auto;
    font-size: 24px; }

.footer.small {
  height: 40px; }
  .footer.small > p {
    font-size: 18px; }

@keyframes button_hover {
  70% {
    box-shadow: inset 0 -60px 60px -25px white; } }
.header {
  background-color: rgba(220, 220, 220, 0.6);
  display: flex;
  align-items: center;
  padding: 0px;
  border-bottom: solid whitesmoke;
  width: 100%;
  position: fixed;
  z-index: 1000;
  height: 120px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; }
  .header > p {
    margin: 0px 100px 0px 50px;
    padding: auto;
    font-size: 24px;
    opacity: 0.5; }
    .header > p img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      top: -2.5px;
      position: relative; }
  .header button {
    color: rgba(255, 100, 0, 0.6);
    background-color: rgba(245, 245, 245, 0);
    height: 120px;
    width: 170px;
    font-size: 18px;
    border: none;
    outline: none;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s; }
    .header button > span {
      pointer-events: none; }
  .header button:hover:not(.active):not(.collapseBtn) {
    animation: button_hover 1s;
    animation-iteration-count: infinite; }
  .header button.active {
    color: #ff6400;
    background-image: linear-gradient(rgba(255, 255, 255, 0), white); }
  .header .collapseBtn {
    color: rgba(255, 100, 0, 0.6);
    background-color: rgba(130, 130, 130, 0.4);
    position: absolute;
    border: none;
    outline: none;
    right: 10%;
    width: 50px;
    height: 50px;
    top: 35px;
    padding: 0;
    cursor: default;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .header .collapseBtn .bar1, .header .collapseBtn .bar2, .header .collapseBtn .bar3 {
      width: 36px;
      height: 6px;
      background-color: rgba(100, 100, 100, 0.7);
      margin: 7px 7px 7px 7px;
      padding: 0;
      transition: 0.4s;
      border-radius: 25%;
      pointer-events: none; }
  .header .change .bar1 {
    transform: rotate(45deg) translate(10px, 9px); }
  .header .change .bar2 {
    opacity: 0; }
  .header .change .bar3 {
    transform: rotate(-45deg) translate(9px, -8px); }

.header.small {
  height: 50px; }
  .header.small > div button {
    height: 50px; }
    .header.small > div button > span {
      display: none; }
  .header.small > p {
    margin-right: 140px;
    font-size: 18px; }
    .header.small > p img {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      top: -2.5px;
      position: relative; }
  .header.small .collapseBtn {
    top: 0;
    border-bottom: solid;
    border-bottom-color: white; }

.background {
  background-image: url("/app/icons/main_background.jpg");
  height: 100vh;
  width: 100%;
  z-index: -10;
  background-repeat: no-repeat;
  background-size: 1600px 100%;
  background-position: top center;
  position: fixed; }

.jumbo {
  padding-top: 120px;
  height: 420px;
  width: 100%;
  font-size: 50px; }

@media only screen and (max-width: 730px) {
  .header > div {
    position: fixed;
    left: 0;
    top: 120px;
    width: 100%;
    height: 250px;
    transition-property: all;
    transition-duration: 0.3s;
    overflow-y: hidden; }
    .header > div button:not(.collapseBtn) {
      width: 100%;
      height: 80px;
      background-image: none;
      background-color: rgba(245, 245, 245, 0.6);
      border-style: inset;
      border-color: rgba(100, 100, 100, 0.2);
      border-width: thin; }
    .header > div button:hover:not(.active):not(.collapseBtn) {
      animation: none; }
    .header > div button.active {
      background-color: rgba(245, 245, 245, 0.9); }
  .header > div.collapsed {
    height: 0px;
    transition-property: all;
    transition-duration: 0.3s; }

  .header.small > div {
    top: 45px;
    height: 130px;
    transition-property: all;
    transition-duration: 0.3s;
    overflow-y: hidden; }
    .header.small > div button:not(.collapseBtn) {
      height: 40px; }
      .header.small > div button:not(.collapseBtn) span {
        display: none; }
  .header.small > div.collapsed {
    height: 0px;
    transition-property: all;
    transition-duration: 0.3s; } }
@media only screen and (min-width: 731px) {
  .header .collapseBtn {
    display: none; } }
@media only screen and (max-width: 830px) {
  .header > p > span {
    display: none; }
  .header > p > img {
    height: 45px;
    width: 45px; } }
.subheader {
  padding: 0;
  display: table;
  box-sizing: border-box;
  width: 80%;
  margin-left: 20%;
  height: 50px;
  text-align: center;
  background-color: rgba(230, 230, 230, 0.5); }
  .subheader li {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px; }
    .subheader li a {
      color: rgba(255, 100, 0, 0.6);
      background-color: rgba(245, 245, 245, 0); }
      .subheader li a button {
        width: 100%;
        height: 100%;
        background-color: rgba(245, 245, 245, 0);
        border: none;
        outline: none; }
    .subheader li button.active {
      background: radial-gradient(rgba(200, 200, 200, 0), white); }

.data-container {
  background-color: white;
  width: 80%;
  height: 100%;
  margin-left: 20%;
  margin-bottom: 120px;
  border-radius: 30px;
  padding: 5px 15px 5px 15px;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9)); }
  .data-container .grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px; }
