.footer-container html {
  position: relative;
  min-height: 100%; }
.footer-container body {
  margin-bottom: 60px; }
  .footer-container body .container {
    padding: 60px 15px 0; }
.footer-container code {
  font-size: 80%; }
.footer-container .footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #f5f5f5; }
  .footer-container .footer .container {
    padding-right: 15px;
    padding-left: 15px; }
    .footer-container .footer .container .text-muted {
      margin: 20px 0; }

@media only screen and (max-width: 768px) {
  #gamedataheader-container .deactivate {
    display: none; } }

@keyframes mymove {
  30% {
    box-shadow: inset 0 -60px 60px -25px white; } }
.header {
  background-color: rgba(220, 220, 220, 0.6);
  display: flex;
  align-items: center;
  padding: 0px;
  border-bottom: solid whitesmoke;
  height: 120px; }
  .header > p {
    margin: 0px 100px 0px 50px;
    padding: auto;
    font-size: 24px;
    opacity: 0.5; }
    .header > p img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      top: -2.5px;
      position: relative; }
  .header button {
    color: rgba(255, 100, 0, 0.6);
    background-color: rgba(245, 245, 245, 0);
    height: 120px;
    width: 170px;
    font-size: 18px;
    border: none;
    outline: none; }
  .header button:hover:not(.active) {
    animation: mymove 3s;
    animation-iteration-count: infinite; }
  .header button.active {
    color: #ff6400;
    background-image: linear-gradient(rgba(255, 255, 255, 0), white); }

.jumbo {
  height: 377px; }

#header-container .navbar {
  margin-bottom: 0px; }
  #header-container .navbar .container .navbar-brand {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default; }
    #header-container .navbar .container .navbar-brand img {
      height: 30px;
      width: 30px;
      position: relative;
      top: -2.5px;
      border-radius: 50%; }
  #header-container .navbar .container ul li img {
    height: 20px;
    width: 20px;
    position: relative;
    top: -1px;
    border-radius: 50%; }
#header-container .nav-tabs img {
  height: 20px;
  width: 20px;
  position: relative;
  top: -1px;
  border-radius: 50%; }
#header-container .jumbotron {
  padding-left: 20px;
  width: auto; }

#home-container {
  width: 98%;
  margin: auto 10px 60px 10px;
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",serif;
  font-weight: bold; }
  @media only screen and (max-width: 480px) {
    #home-container #checkin table, #home-container #checkin thead, #home-container #checkin tbody, #home-container #checkin th, #home-container #checkin td, #home-container #checkin tr {
      display: block; }
    #home-container #checkin thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px; }
    #home-container #checkin tr {
      border: 1px solid #ccc; }
    #home-container #checkin td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      white-space: normal;
      text-align: center; }
    #home-container #checkin td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: bold; }
    #home-container #checkin {
      display: table; }
    #home-container #checkin2 {
      display: none; }
    #home-container #checkin3 {
      display: none; } }
  @media only screen and (max-width: 720px) and (min-width: 481px) {
    #home-container #checkin {
      display: none; }
    #home-container #checkin2 {
      display: none; }
    #home-container #checkin3 {
      display: table; } }
  @media only screen and (max-width: 960px) and (min-width: 721px) {
    #home-container #checkin {
      display: none; }
    #home-container #checkin2 {
      display: table; }
    #home-container #checkin3 {
      display: none; }
    #home-container .testpic {
      /*change to bootstrap breakpoint media query later*/
      display: none !important; } }
  @media only screen and (min-width: 961px) {
    #home-container #checkin {
      display: table; }
    #home-container #checkin2 {
      display: none; }
    #home-container #checkin3 {
      display: none; } }
  #home-container .padding-0 {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px; }
  #home-container .padding-1 {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px; }
  #home-container .label {
    font-size: 12px;
    padding-bottom: 1px; }
  #home-container .panel .panel-heading img {
    height: 20px;
    width: 20px;
    position: relative;
    top: -2px;
    border-radius: 50%; }
  #home-container .panel .panel-heading .panel-title #collapseBtn {
    float: right;
    margin-top: 3px; }
  #home-container .panel .panel-heading .panel-title a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    text-decoration: none; }
    #home-container .panel .panel-heading .panel-title a i {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      cursor: pointer; }
    #home-container .panel .panel-heading .panel-title a.collapsed i {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      cursor: pointer; }
  #home-container .panel .panel-body p {
    padding-left: 2em;
    text-indent: -0.5em;
    margin-top: 0px;
    margin-bottom: 0px; }
  #home-container .panel .panel-body .textDiv {
    padding: auto;
    padding-right: 0px; }
  #home-container .panel .panel-body .thumbnail img {
    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 50%;
    top: 10px; }
  #home-container .panel .panel-body .thumbnail .caption h3 {
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",serif;
    font-weight: bold;
    text-align: center; }
  #home-container .panel .panel-body .thumbnail .caption h4 {
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",serif;
    font-weight: bold;
    text-align: center; }
  #home-container #special1 {
    border-color: #FFA1B2; }
    #home-container #special1 .panel-heading {
      background-color: #FFCED8;
      border-color: #FFA1B2;
      color: #FF5573;
      text-align: center; }
  #home-container #special2 {
    border-color: #C8DFFF; }
    #home-container #special2 .panel-heading {
      background-color: #E3EDFF;
      border-color: #C8DFFF;
      color: #68BDFF;
      text-align: center; }

#battle-container {
  margin: auto 10px auto 10px; }
  #battle-container .panel .panel-heading img {
    height: 20px;
    width: 20px;
    position: relative;
    top: -1;
    border-radius: 50%; }

#character-container {
  margin: auto 10px auto 10px; }
  #character-container .panel .panel-heading img {
    height: 20px;
    width: 20px;
    position: relative;
    top: -1;
    border-radius: 50%; }

#inventory-container {
  margin: auto 10px auto 10px; }
  #inventory-container .panel .panel-heading img {
    height: 20px;
    width: 20px;
    position: relative;
    top: -1;
    border-radius: 50%; }

#pet-container {
  margin: auto 10px auto 10px; }
  #pet-container .panel .panel-heading img {
    height: 20px;
    width: 20px;
    position: relative;
    top: -1;
    border-radius: 50%; }
