$icon-radius-brand: 30px;
$icon-radius-tag: 20px;

@keyframes mymove {
    30% {box-shadow: inset 0 -60px 60px -25px rgba(255,255,255,1);}
}

.header {
	background-color: rgba(220,220,220,0.6);
	display: flex;
	align-items: center;
	padding: 0px;
	border-bottom: solid rgba(245,245,245,1);

	height: 120px;
	>p {
		margin: 0px 100px 0px 50px;
		padding: auto;
		font-size: 24px;
		opacity: 0.5;
		img {
			height: $icon-radius-brand;
			width: $icon-radius-brand;
			border-radius: 50%;
			top: -2.5px;
			position: relative;
		}
	}
	button {
		color: rgba(255,100,0,0.6);
		background-color: rgba(245,245,245,0);
		height: 120px;
		width: 170px;
		font-size: 18px;
		border: none;
		outline: none;
	}
	button:hover:not(.active) {
    	animation: mymove 3s;
		animation-iteration-count: infinite;
	}
	button.active {
		color: rgba(255,100,0,1);
		background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
	}
}

.jumbo {
	height: 480px;
}

#header-container {
    .navbar {
        margin-bottom: 0px;
        .container {
            .navbar-brand {
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -o-user-select: none;
                user-select: none;
                cursor: default;

                img {
                    height: $icon-radius-brand;
                    width: $icon-radius-brand;
                    position: relative;
                    top: -2.5px;
                    border-radius: 50%;
                }
            }
            ul {
                li {
                    img {
                        height: $icon-radius-tag;
                        width: $icon-radius-tag;
                        position: relative;
                        top: -1px;
                        border-radius: 50%;
                    }
                }
            }

        }
    }

    .nav-tabs {
        img {
            height: $icon-radius-tag;
            width: $icon-radius-tag;
            position: relative;
            top: -1px;
            border-radius: 50%;
        }
    }

    .jumbotron {
        padding-left: 20px;
        width: auto;
    }
}
