$icon-radius-brand: 30px;
$icon-radius-tag: 20px;

@keyframes button_hover {
    70% {box-shadow: inset 0 -60px 60px -25px rgba(255,255,255,1);}
}

.header {
	background-color: rgba(220,220,220,0.6);
	display: flex;
	align-items: center;
	padding: 0px;
	border-bottom: solid rgba(245,245,245,1);
	width: 100%;
	position: fixed;
	z-index: 1000;
	height: 120px;

	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;

	> p {
		margin: 0px 100px 0px 50px;
		padding: auto;
		font-size: 24px;
		opacity: 0.5;
		img {
			height: $icon-radius-brand;
			width: $icon-radius-brand;
			border-radius: 50%;
			top: -2.5px;
			position: relative;
		}
	}
	button {
		color: rgba(255,100,0,0.6);
		background-color: rgba(245,245,245,0);
		height: 120px;
		width: 170px;
		font-size: 18px;
		border: none;
		outline: none;
		-webkit-transition: height 0.3s;
		-moz-transition: height 0.3s;
		-ms-transition: height 0.3s;
		-o-transition: height 0.3s;
		transition: height 0.3s;
	}
	button:hover:not(.active) {
    	animation: button_hover 1s;
		animation-iteration-count: infinite;
	}
	button.active {
		color: rgba(255,100,0,1);
		background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
	}
}

.header.small {
    height: 45px;
	button {
		height: 45px;
		> span {
			display: none;
		}
	}
	> p {
		margin-right: 140px;
		font-size: 18px;
		img {
			height: 20px;
			width: 20px;
			border-radius: 50%;
			top: -2.5px;
			position: relative;
		}
	}
}

.background {
	background-image: url("/app/icons/main_background.jpg");
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 1500px 100%;
	background-position: top center;
	position: fixed;
}

.jumbo {
	height: 480px;
}
