.data-container {
	width: 80%;
	height: auto;
	margin-left: 20%;
	margin-bottom: 120px;
	border-radius: 30px;
	padding: 5px 15px 5px 15px;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.9));
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 17vw 17vw 17vw;
		grid-gap: 10px;
		justify-content: stretch;
		align-content: stretch;
		div {
			border-style: solid;
		}
	}
}
